SPARK_DRIVER_MEMORY=4g
DELTA_BASE_PATH=
BRONZE_PROVINCE_PATH=

SILVER_PROVINCE_PATH=
SILVER_INDUSTRY_PATH=

DIM_EMPLOYMENT_PATH=

# This is needed for DBT to explicilty pass the JARs in job param
PYSPARK_SUBMIT_ARGS="--packages io.delta:delta-spark_2.12:3.1.0 --conf spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension --conf spark.sql.catalog.spark_catalog=org.apache.spark.sql.delta.catalog.DeltaCatalog pyspark-shell"
